---
import '@fontsource/inter'
import '../styles/style.css'
import Main from '../layouts/Main.astro';
import Header from '../components/header.astro';
import About from '../components/about.astro';
import Skills from '../components/skills.astro';
import Projects from '../components/projects.astro';
---

<html lang="ru">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="Фронтенд-разработчик, mail@neandreev.ru" />
	<title>Андреев Данила</title>
</head>

<body>
	<Main>
		<Header id='header' />
		<About id='about' />
		<Projects id='projects' />
		<Skills id='skills' />
	</Main>
</body>

</html>