---
import '../styles/style.css'
import Main from '../layouts/Main.astro';
import Header from '../components/header.astro';
import About from '../components/about.astro';
import Skills from '../components/skills.astro';
import Projects from '../components/projects.astro';
---

<html lang="ru" class="scroll-smooth">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="Фронтенд-разработчик, mail@neandreev.ru" />
	<title>Андреев Данила</title>
</head>

<body class="dark:bg-zinc-900 dark:text-slate-200">
	<Main>
		<Header id='header' />
	</Main>
</body>

</html>
