<div class='p-4 md:p-8 dark:border-zinc-700'>
  <span>О себе:</span>
  <p class="px-5">
    20-летний парень, который хочет участвовать в разработке крутых
    сервисов для людей. Закончив школу с отличием и поступив в институт на
    техническую специальность, словил экзистенциальный кризис от качества
    и методов образования и решил вне привычной парадигмы обучаться профессии,
    которая позволила бы с пользой реализовать свои навыки, быть способным
    на планомерное, уверенное личностное и профессиональное развитие вместе
    с крутыми разработчиками.
  </p>
</div>