---
import Link from './link.astro';
---

<div
  class="bg-white border border-b-0 flex-shrink-0 mt-5 py-2 text-center shadow-2xl rounded-t-lg flex justify-center space-x-2">
  <span>Сделано на
    <Link href="https://github.com/neandreev/astro-personal" text="Astro + Tailwind CSS" />
  </span>
  <span>Развёрнуто на
    <Link text="Vercel" href="https://vercel.com" />
  </span>
</div>