---
import Link from "./link.astro";

const { project } = Astro.props;
const { gifUrl, liveDemonstrationUrl, githubUrl } = project;
const links = []

const githubLink = { href: githubUrl, text: 'GitHub' };
links.push(githubLink);

if (gifUrl) {
  const gifLink = { href: gifUrl, text: 'GIF Demonstration' }
  links.push(gifLink);
}

if (liveDemonstrationUrl) {
  const liveDemonstrationLink = { href: liveDemonstrationUrl, text: 'Live Demonstration' }
  links.push(liveDemonstrationLink);
}
---

<ul>
  {links.map(link => (
  <li class='inline pr-2'>
    <Link href={link.href} text={link.text} />
  </li>
  ))}
</ul>