---
import Footer from '../components/footer.astro';
---

<div class="flex text-accent-1 justify-center pt-8 mx-4 min-h-screen">
  <div class="flex flex-col justify-between max-w-screen-lg">
    <div class="flex flex-col border dark:border-zinc-700 rounded-lg shadow-2xl w-full divide-y">
      <slot />
    </div>
    <Footer />
  </div>
</div>